.nav {
  background-color: rgb(255, 170, 170);

  /* border-radius: 30px;
  color: rgb(240, 223, 223);
  font-size: 3rem;
  margin: 0 auto;
  padding: 0.5rem 0 0.5rem 10%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0; */
}

.link {
  text-decoration: none;
  color: rgb(71, 104, 93);
  font-size: 2rem;
  padding: 0rem 0 0rem 1rem;
}

.link:hover {
  color: rgb(221, 223, 201);
}
