.nav {
  background-color: rgb(41, 41, 41);
  width: clamp(400px, 90vw, 1000px);
  color: rgb(240, 223, 223);
  font-size: 3rem;
  margin: 0 auto;
  padding: 1rem 0 1rem 10%;
  display: flex;
}

.link {
  text-decoration: none;
  color: rgb(46, 80, 69);
  font-size: 2rem;
  padding: 2rem 0 1rem 2rem;
}
.link:hover {
  color: rgb(201, 162, 188);
}
