html {
  background-color: #282c34;
}
.app {
  /* text-align: center; */
  background-color: #282c34;
}

.container {
  background-color: rgb(170, 183, 194);
  margin: 2rem 0 0 10rem;
  padding: 2rem 0 2rem 10%;
}
