span {
  font-size: 5rem;
}

.quote {
  margin: 0 1rem;
}

.input {
  border: none;
  background-color: rgb(253, 212, 233);
  border-radius: 2px;
  color: aliceblue;
}

input {
  all: unset;
  margin: 0rem 0 0 0;
}

.galleryCol {
  padding: 5rem;
  width: 90vw;
  background-color: rgb(46, 49, 49);
}
