.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90vw;
  margin: 3rem 0 0 0;
}

.image {
  margin: 0 1rem 1rem 0;
  width: 200px;
}

.name {
  margin: 1rem 0;
  color: antiquewhite;
}

.search {
}

.input {
  /* background-color: rgb(32, 32, 32); */
  border: none;
  color: antiquewhite;
}
