.wrapper {
  width: 500px;
  border: 1px rgb(132, 138, 97) solid;
  border-radius: 10px;
  padding: 1rem;
}

span {
  font-size: 5rem;
}

button {
  height: 2rem;
  text-align: center;
  border-radius: 5%;
  border: none;
  margin: 2rem;
  background-color: rgb(46, 80, 69);
  color: antiquewhite;
}

button:hover {
  cursor: pointer;
  background-color: rgb(201, 162, 188);
}

.header {
  display: flex;
}

.input {
  border: none;
  background-color: rgb(46, 80, 69);
  border-radius: 2px;
  color: aliceblue;
}

.image {
  width: 200px;
  border-radius: 5px;
  padding: 1rem;
}

h3 {
  padding: 1rem 0;
  width: 200px;
  overflow: hidden;
}
