.imageUpload {
  display: grid;
  width: clamp(300px, 50vw, 100px);
  font-size: 1rem;
}

.form-input {
  background-color: transparent;
  margin: 1rem 0 0 0;
}
/* CHOSE FILE BUTTON */
input[type="file"]::file-selector-button {
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: transparent;
  border: 0.5px rgb(118, 219, 131) solid;
  border-radius: 5px;
  color: rgb(118, 219, 131);
  margin: 0 0 1rem 0rem;
  transition: 0.4s;
}

input[type="file"]::file-selector-button:hover {
  color: rgb(197, 255, 180);
  border: 0.5px rgb(181, 247, 155) solid;
  transition: 0.4s;
}

/* REMOVE NO FILE CHOSEN TEXT */
input[type="file"] {
  color: rgba(0, 0, 0, 0);
}

/* NAME INPUT */
input[type="text"] {
  border: none;
  color: antiquewhite;
}

.uploadBtn {
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: transparent;
  border: 0.5px rgb(118, 219, 131) solid;
  border-radius: 5px;
  color: #edff89;
  width: fit-content;
  animation: glowing 1300ms infinite;
}

@keyframes glowing {
  0% {
    border-color: #c2db30;
  }
  50% {
    border-color: #c1db3091;
  }
  100% {
    border-color: #c2db30;
  }
}

.image {
  margin: 0 auto;
}
