.bio {
  padding: 1rem 0.5rem 1rem 0;
  font-size: 1rem;
  overflow-wrap: break-word;
  /* width: 300px; */
}

.updateBioBtn {
  margin: 0.5rem;
  /* width: 100%; */
}

img {
  width: 200px;
  height: 200px;
}

.avatar {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
}

.bio-input {
  width: 100%;
}
